<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.visico.revitaplan.revitaassist.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/revitaassist/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.visico.revitaplan.revitaassist.server.gui.serviceimpl.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/revitaassist/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>projectListServlet</servlet-name>
    <servlet-class>org.visico.revitaplan.revitaassist.server.gui.serviceimpl.ProjectListServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>projectListServlet</servlet-name>
    <url-pattern>/revitaassist/projectList</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>RevitaAssist.html</welcome-file>
  </welcome-file-list>

</web-app>
