/** Add css rules here for your application. */
body
{
	font-family: "Helvetica Neue";
	font-size: 13px;
	line-height: 22px;
	color: #78665d;
	margin: 0;
	padding: 0;
	background-color: #a0948e;	
}

ul, li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a
{
	text-decoration: none;
	color: #78665d;
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #e31b23;
	font-size: 13px;
}

hr
{
	border: 0;
	color: #d9d4d1;
	background-color: #d9d4d1;
	height: 1px;
	margin: 10px 0px;
}
table 
{
	display: table;
	border-collapse: separate;
	border-spacing: 0px;
}

#container
{
	position: relative;
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#topbanner {
position: absolute;
background-image: url('topbanner.gif');
background-repeat: no-repeat;
background-position: center;
left: 0;
top: 0;
width: 98%;
height: 15%;
margin: 1%;
align: center;
}

#login {
	position: absolute;
	background-color: #E31B23; 
	top: 15%;
	height: 5%;
	left: 0;
	width: 100%;

}

#bottombanner {
position: absolute;

left: 0;
top: 94%;
width: 100%;
height: 10%;
margin: 2%;
align: center;
}

#content {
	position: absolute;
	left: 0;
	width: 100%;
	top: 20%;
	height: 66%;
	margin: 1%;
	font-size: 12px;
	overflow: auto;
}



.BuildingTable 
{
  border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

}

.BuildingTableHeader
{
	text-align: center;
	color: #4B4B4B;
	background-color: #C8C8C8;
}

.BuildingTableRow
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;	
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.boundedVPanel {
	border: 1px solid;
  	padding: 5px;
  	width: 95%;
  	margin: 5px;
}

.scrollPanel {
	border: 1px solid;
  	padding: 5px;
  	margin: 5px;
  	float: center;
}

.serverResponseLabelError {
  color: red;
}


.normalButton
{
	width: 100%;
	margin: auto;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.captionLabel {
	font-size: 100%; 
   	font-weight: bold;
   	margin-bottom: 5px;
}

.centerCaption
{
	font-size: 100%; 
   	font-weight: bold;
   	margin-bottom: 5px;
   	text-align: center;
}


.informLabel {
	font-style: italic;
   	margin-bottom: 2px;
}

.titleLabel {
	font-style: italic;
	padding-bottom: 5px;
}

.centerPanel {
	margin: 0px 40px;
	text-align: center;
}

.vcenterPanelRight {
	margin: auto;
	float: right;
}


.projectInfoTitle {
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	width: 255px;
	width: 330px;
}

.projectInfoDescription {
font-size: 14px;
line-height: 18px;
overflow: hidden;
white-space: normal;
text-overflow: ellipsis;
word-wrap: break-word;
width: 670px;
}

.projectInfoStage {
font-size: 11px;
line-height: 16px;
font-weight: bold;
margin-right: 4px;
color: #4a8db8;
-webkit-font-smoothing: antialiased;
}

.projectInfoContent {
font-size: 11px;
line-height: 16px;
overflow: hidden;
white-space: normal;
text-overflow: ellipsis;
word-wrap: break-word;
}

.projectInfoPanel {
position: relative;
height: 75px;
width: 100%;
border-bottom: 1px solid #e6e6e6;
cursor: pointer !important;
overflow: hidden;
padding-bottom: 3px;
}

.projectInfoPanel-selectedPanel {
background: #ecf0f3;
color: #1d1d1d;
}



.loginPanel {
	position: relative;
	margin: auto;
}

.StandardTable 
{
  border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-spacing: 10px;
}

.StandardTable, th, td
{
	border: 10px;
}

.UserTable
{
	border-spacing: 10px;
}

.UserLabel
{
	color: white;
	font-size: 14px;
	font-family: caecilia-bold,helvetica,arial,sans-serif;
	font-weight: thick;
	
	-webkit-font-smoothing: antialiased;
	margin: auto;
}


#style for dialog box

.table-center
{
    margin-left            :    auto;
    margin-right           :    auto;
}

.popup
{
	border: 2px solid #e3e3e3;
   background: ghostwhite;
	-moz-box-shadow: threedshadow 3px 3px 12px 0;
	-webkit-box-shadow: threedshadow 3px 3px 12px 0;
	box-shadow: threedshadow 3px 3px 12px 0;
    
}


.login-MenuBar
{
   border-left: 2px solid rgba(255, 255, 255, 0.3);
   background-image: url('menu-dropdown-arrow-white.png');
   background-repeat: no-repeat;
   background-position: right;
}

.login-MenuBar table
{
    
}

.login-MenuBar .gwt-MenuItem
{
	cursor: hand; 					
    color: white;
    padding:   0px 20px 0px 10px;
}
